<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Inicio</title>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="index">Inicio</a>
            <a class="nav-link active" aria-current="page" href="calendario">Calendario</a>
            <!-- <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled">Disabled</a> -->
          </div>
        </div>
      </div>
    </nav>
    <!-- FIN NAVBAR -->
    <!-- font-family: 'Bebas Neue', sans-serif; -->
    <!-- font-family: 'Roboto', sans-serif; -->
      <div class="container mt-4">
        <div class="card border-secondary mt-2">
            <div class="card-header"> Nuevo Registro</div>
            <div class="card-body">
                <form action="/savenew" method="POST">

                    <div class="mb-3">
                      <label for="" class="form-label">Nombre de la Suscripción</label>
                      <input type="text" id="nombre" name="nombre" class="form-control">
                        
                      <label for="" class="form-label mt-4"> Categoría: </label>
                      <select id="tipo" name="tipo" class="form-select" tabindex="2">
                        <option selected> Seleccione una opción: </option>
                        <% results.forEach((tipo) => { %>
                        <option value="<%= tipo.Id %>" > <%= tipo.Nombre %> </option>
                        <% }) %>
                      </select>

                    </div>
           
                    <button type="submit" class="btn btn-warning">Crear</button>

                  </form>

              
                  
            </div>
        </div>
      </div>



      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <% if(typeof alert != "undefined"){ %>
          <script>
              Swal.fire({
                  title: '<%= alertTitle%>',
                  text: '<%= alertMessage%>',
                  icon: '<%= alertIcon %>',
                  showConfirmButton: <%= showConfirmButton%> ,
                  timer: <%= timer%>
              }).then(()=>{
                  window.location='/<%= ruta%>'
              })
          </script>
      <% } %>

</body>
</html>